<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>{% block title %} Anasayfa {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="description" content="{% block description %} Anasayfa {% endblock %}">
	<meta name="keywords" content="{% block keywords %} Anasayfa {% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
	{% load static %}

	<!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>


	<!--&lt;!&ndash;[if lt IE 9]>-->
		  <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
	  <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
	<!--<![endif]&ndash;&gt;-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="./index.html" class="site-logo">
							<img src="img/logo.png" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<!--<form class="header-search-form">-->
							<!--<input type="text" placeholder="Search on divisima ....">-->
							<!--<button><i class="flaticon-search"></i></button>-->
						<!--</form>-->
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								{% if user.id is not None %}
								<i class="flaticon-profile"></i>
								<a href="/order/profil">{{ user.first_name }} {{ user.last_name }}</a>/<a href="/logout">Çıkış Yap</a>


								{% endif  %}
								{% if user.id is null %}
								<i class="flaticon-profile"></i>
								<a href="/login">Giriş Yap</a> / <a href="/">Üye Ol</a>
								{% endif %}
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag">{{request.session.cart_items}}</i>

								</div>
								<a href="/order/shopcart">Sepetim</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="/">Anasayfa</a></li>
					<li><a href="/urunler">Ürünler</a></li>
					<li><a href="/hakkimizda">Hakkımızda</a></li>
					<li><a href="/iletisim">İletişim</a></li>

					<!--<li><a href="#">Pages</a>-->
						<!--<ul class="sub-menu">-->
							<!--<li><a href="./product.html">Product Page</a></li>-->
							<!--<li><a href="./category.html">Category Page</a></li>-->
							<!--<li><a href="./cart.html">Cart Page</a></li>-->
							<!--<li><a href="./checkout.html">Checkout Page</a></li>-->
							<!--<li><a href="./contact.html">Contact Page</a></li>-->
						<!--</ul>-->
					<!--</li>-->

				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->



{% block slider %}  {% endblock %}
{% block body %}  {% endblock %}



	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="./img/logo-light.png" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Hakkımızda</h2>
						{% for rs in settings %}
						<p>{{ rs.kisahakkimizda }}</p>

						<img src="{{ rs.hakkimizdaimage }}" alt="">
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Linkler</h2>
						<ul>
							<li><a href="/">Anasayfa</a></li>
							<li><a href="/urunler">Ürünler</a></li>
							<li><a href="/hakkimizda">Hakkımızda</a></li>
							<li><a href="/iletisim">İletişim</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Giriş ve Kayıt Olma</h2>
						<div class="fw-latest-post-widget">
							<div class="con-info">
							<!--<span>A.</span>-->
							<!--{% for rs in settings %}-->
							<!--<p>{{ rs.adres }}</p>-->
							<!--{% endfor %}-->

						<ul>
							<li><a href="/login">Giriş Yap</a></li>
							<li><a href="/">Kayıt Ol</a></li>


						</ul>
						</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>İletişim</h2>
						<div class="con-info">
							<span>A.</span>
							{% for rs in settings %}
							<p>{{ rs.adres }}</p>
							{% endfor %}
						</div>
						<div class="con-info">
							<span>F.</span>
							{% for rs in settings %}
							<p>{{ rs.fax }}</p>
							{% endfor %}
						</div>
						<div class="con-info">
							<span>T.</span>
							{% for rs in settings %}
							<p>{{ rs.tel }}</p>
							{% endfor %}
						</div>
						<div class="con-info">
							<span>E.</span>
							{% for rs in settings %}
							<p>{{ rs.email }}</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					{% for rs in settings %}
					<a href="{{ rs.instagram }}" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="{{ rs.gplus }}" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
					<a href="{{ rs.pinterest }}" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="{{ rs.facebook }}" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="{{ rs.twitter }}" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="{{ rs.youtube }}" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="{{ rs.tumblr }}" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
					{% endfor %}
				</div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
