

{% extends "homebase.html" %}



{% block body %}

  	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">

			<div class="site-pagination">
				<a href="/">Anasayfa</a> /
				<a href="/shopcart">Order Detail</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- Contact section -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 card-right">
					<div class="filter-widget">
						<h2 class="fw-title">Kullanıcı Menüsü</h2>
						<ul class="category-menu">
							<li><a href="/">Anasayfa</a></li>
							<li><a href="/order/profil">Profilim</a></li>
							<li><a href="/order/shopcart">Sepetim</a></li>
							<li><a href="/order">Siparişlerim</a></li>
							<li><a href="/comments">Yorumlarım</a></li>
							<li><a href="/logout">Çıkış</a></li>
						</ul>
					</div>

				</div>
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Profil Bilgilerim</h3>
						<div class="cart-table-warp" tabindex="1" style="overflow: hidden; outline: none;">
							<table>
							<thead>
								<tr>
						<th> Name </th>
						<td style="margin-bottom:300px"> {{user.first_name}}</td>

					</tr>
					<tr>
						<th> SurName </th>
						<td> {{user.last_name}}</td>

					</tr>
					<tr>
						<th> E-mail </th>
						<td> {{user.email}}</td>

					</tr>

							</thead>

						</table>


						</div>


					</div>
					<br>
					<br>
					<br>

				</div>
			</div>
		</div>

	</section>

<br>
<br>
	<!-- Contact section end -->

<!-- Page info -->
	<!--<div class="page-top-info">-->
		<!--<div class="container">-->
            <!--{% for rs in pagedetail %}-->
                <!--{{ rs.detailtwo|safe }}-->
            <!--{% endfor %}-->
		<!--</div>-->
	<!--</div>-->
{% endblock %}